body{
  background-color: white ;
  color: black;
    font-family: Arial, Helvetica, san-serif;
     margin: 5% 10%;
  border: 2px solid black
  
}
.header{
  background-color: green;
  text-align: center;
  border-top:3px solid;
  
}

.exp{
 
  background-color: green;
  border-top:3px solid;
  text-align:center;
}

   
.education{
  background-color: green;
  border-top: 3px solid;
   text-align: center;
}

.skill{
  background-color:green;
  border-top: 3px solid;
  text-align: center;
    
}
