body{
  background-color: orange;
  color: white;
    font-family: Arial, Helvetica, san-serif;
     margin: 10% 20%;
}
.header{
  background-color: black;
}

.exp{
  background-color: black;
}

.education{
  background-color: black;
}
